.categories {
  font-weight: 400;
  color: $fontColorSecondary;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__title {
    position: relative;
    margin: 0 0 30px;
    padding: 7px 0 7px 70px;
    font-family: $fontOswald;
    font-size: 24px;
    font-weight: inherit;
    text-transform: uppercase;
    line-height: 37px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }

    &::before {
      background-color: $success-color;
      border-radius: 50%;
    }

    &--cat {
      &::after {
        top: -4px;
        background: url("../img/icon-cat-slim.svg") no-repeat center;
      }
    }

    &--tiger {
      &::after {
        left: -10px;
        width: 65px;
        background: url("../img/icon-cat-pro.svg") no-repeat center;
      }
    }
  }

  &__item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: $default-secondary;
  }

  &__description {
    margin: 0;
    padding-bottom: 20px;

    &:last-of-type {
      margin-bottom: 20px;
      border-bottom: 1px solid $border-base;
    }
  }

  &__link {
    font-family: $fontOswald;
    font-size: 16px;
    font-weight: inherit;
    text-transform: uppercase;
    line-height: 16px;
    color: inherit;
  }
}
