.contacts {
  padding-top: 35px;
  font-weight: 400;
  line-height: 20px;
  color: $fontColorSecondary;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding: 0 9% 60px;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      justify-content: flex-start;
      padding: 60px 115px;
      transform: translate(-50%, -50%);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 40px;
        z-index: -1;
        width: 570px;
        height: 200px;
        background: $default-color;
        transform: translate(0, -50%);
      }
    }
  }

  &__title,
  &__text {
    max-width: 140px;

    @media (min-width: $tablet-width) {
      max-width: 155px;
    }
  }

  &__title {
    margin: 0;
    font-family: $fontOswald;
    font-size: 16px;
    font-weight: inherit;
    text-transform: uppercase;
    line-height: inherit;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 1.25;
    }

    @media (min-width: $desktop-width) {
      margin-right: 95px;
    }
  }

  &__text {
    margin: 0;
    font-style: normal;
    line-height: inherit;
    color: $fontColor;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      text-align: right;

      br {
        line-height: 2em;
      }
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }

  &__map {
    max-height: 360px;

    @media (min-width: $tablet-width) {
      max-height: 400px;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    iframe {
      height: 360px;
      border: none;

      @media (min-width: $tablet-width) {
        height: 400px;
      }
    }
  }

  &--darker-bg {
    padding-top: 30px;
    background-color: $default-secondary;

    @media (min-width: $tablet-width) {
      padding-top: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 85px;
      padding-top: 0;
      background-color: transparent;
    }
  }
}
