.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  line-height: 16px;
  color: $fontColor;

  &__link {
    color: inherit;
    fill: $neutral-regular;

    @media (min-width: $tablet-width) {
      margin-right: 15px;
      font-size: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &:hover,
    &:focus {
      outline: none;

      svg {
        fill: $success-color;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}
