.description {
  padding: 10px 0 40px;
  font-weight: 400;
  color: $fontColorSecondary;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding: 0 0 60px;
    border-bottom: 1px solid $border-base;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }

  &__title {
    margin: 0 0 30px;
    font-family: $fontOswald;
    font-size: 36px;
    font-weight: inherit;
    line-height: 60px;

    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
      font-size: 60px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      counter-reset: list;
    }
  }

  &__item {
    position: relative;
    z-index: 20;
    min-height: 60px;
    margin-bottom: 20px;
    padding-left: 80px;
    color: $fontColor;

    @media (min-width: $tablet-width) {
      max-width: 245px;
      min-height: 230px;
      margin: 0 80px 90px 0;
      padding: 120px 0 0;
      font-size: 16px;
      line-height: 1.5;
    }

    @media (min-width: $desktop-width) {
      margin: 0 50px 0 0;
    }

    &:last-of-type {
      margin-bottom: 0;

      @media (min-width: $desktop-width) {
        margin-right: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;

      @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
      }
    }

    &--icon-1 {
      &::before {
        background: $success-color url("../img/advantage-leaf@1x.png") no-repeat center;
      }
    }

    &--icon-2 {
      &::before {
        background: $success-color url("../img/advantage-powder@1x.png") no-repeat center;
      }
    }

    &--icon-3 {
      &::before {
        background: $success-color url("../img/advantage-dining@1x.png") no-repeat center;
      }
    }

    &--icon-4 {
      &::before {
        background: $success-color url("../img/advantage-clock@1x.png") no-repeat center;
      }
    }

    @media (min-width: $tablet-width) {
      &::after {
        counter-increment: list;
        content: "" counter(list);
        position: absolute;
        top: -40px;
        right: 0;
        z-index: -1;
        font-size: 281px;
        font-family: $fontOswald;
        line-height: 1;
        color: $default-secondary;
      }
    }
  }
}
