.description {
  padding: 10px 0 40px;
  font-weight: 400;
  color: $fontColorSecondary;

  &__title {
    margin: 0 0 30px;
    font-family: $fontOswald;
    font-size: 36px;
    font-weight: inherit;
    line-height: 60px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    z-index: 20;
    min-height: 60px;
    margin-bottom: 20px;
    padding-left: 80px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
    }

    &::before {
      background-color: $success-color;
    }

    &--icon-1 {
      &::after {
        background: url("../img/advantage-leaf@1x.png") no-repeat center;
      }
    }

    &--icon-2 {
      &::after {
        background: url("../img/advantage-powder@1x.png") no-repeat center;
      }
    }

    &--icon-3 {
      &::after {
        background: url("../img/advantage-dining@1x.png") no-repeat center;
      }
    }

    &--icon-4 {
      &::after {
        background: url("../img/advantage-clock@1x.png") no-repeat center;
      }
    }
  }
}
