.features {
  flex-basis: 50%;
  font-weight: 400;
  color: $fontColorSecondary;
  line-height: 1;

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    margin-bottom: 30px;
  }

  &__title {
    font-family: $fontOswald;
    font-size: 16px;
    font-weight: inherit;
    text-transform: uppercase;
    line-height: inherit;

    @media (min-width: $tablet-width) {
      max-width: 130px;
      margin: 0 auto 18px;
      font-size: 20px;
      text-align: center;
    }

    &--margin {
      margin: 0 0 11px;
    }

    & > * {
      color: inherit;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    color: $fontColor;
  }

  &__value,
  &__field {
    flex-basis: 50%;
    margin: 0;
    font-size: 14px;
    line-height: inherit;

    @media (min-width: $tablet-width) {
      padding: 8px 0;
      font-size: 16px;
      border-bottom: 1px solid $border-base;
    }
  }

  &__field {
    text-align: right;
  }

  &__link {
    color: inherit;
  }
}
