.features {
  flex-basis: 50%;
  font-weight: 400;
  color: $fontColorSecondary;
  line-height: 1;

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    margin-bottom: 30px;
  }

  &__title {
    font-family: $fontOswald;
    font-size: 16px;
    font-weight: inherit;
    text-transform: uppercase;
    line-height: inherit;

    @media (min-width: $tablet-width) {
      max-width: 130px;
      margin: 0 auto 17px;
      font-size: 20px;
      text-align: center;
    }

    &--margin {
      margin: 0 0 11px;
    }

    & > * {
      color: inherit;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    color: $fontColor;
  }

  &__value,
  &__field {
    flex-basis: 50%;
    margin: 0;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      padding: 8px 0;
      font-size: 16px;
      border-bottom: 1px solid $border-base;
    }
  }

  &__field {
    text-align: right;
  }

  &__link {
    color: inherit;
  }

  &--goods {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      align-items: baseline;
      width: 100%;
    }

    .features__title {
      @media (min-width: $tablet-width) {
        max-width: none;
        width: 50%;
        text-align: left;
      }

      @media (min-width: $desktop-width) {
        width: 38%;
      }
    }

    .features__list {
      @media (min-width: $tablet-width) {
        justify-content: flex-end;
        width: 45%;
        text-align: right;
      }

      @media (min-width: $desktop-width) {
        justify-content: space-between;
        width: 50%;
        text-align: left;
      }
    }

    .features__value,
    .features__field {
      @media (min-width: $tablet-width) {
        flex-basis: auto;
        width: 40%;
        line-height: 1.25;
        border-bottom: none;
      }

      @media (min-width: $desktop-width) {
        text-align: left;
      }
    }

    .features__value {
      @media (min-width: $tablet-width) {
        width: 60%;
        margin-right: 10px;
      }

      @media (min-width: $desktop-width) {
        width: 55%;
        margin-right: 15px;
      }
    }

    .features__field {
      @media (min-width: $tablet-width) {
        width: 30%;
      }

      @media (min-width: $desktop-width) {
        min-width: 25%;
        max-width: 40%;
        width: auto;
        padding-right: 10px;
      }
    }
  }
}
