.headline {
  position: relative;
  margin: 0 0 32px;
  font-family: $fontOswald;
  font-size: 24px;
  font-weight: inherit;
  line-height: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 78px;
    font-size: 36px;
  }

  &__bg {
    position: relative;
    z-index: 2;
    margin-left: -20px;
    padding: 0 25px 0 20px;
    background-color: $default-color;

    @media (min-width: $tablet-width) {
      margin-left: 0;
      padding: 0 35px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -40px;
      padding: 0 40px;
    }
  }
}
