.page-footer {
  font-weight: 400;
  background-color: $default-secondary;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
  }

  &__wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__social {
    padding: 22px 0 17px;
    border-top: 1px solid $border-base;
    border-bottom: 1px solid $border-base;

    @media (min-width: $tablet-width) {
      padding: 14px 0 17px 30px;
      border: none;
    }
  }

  &__logo {
    display: flex;
    padding: 25px 0 17px;

    &[href] {
      &:hover,
      &:focus {
        opacity: 0.8;
        outline: none;
      }

      &:active {
        opacity: 0.6;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 25px 0;
    }

    &-image {
      margin: 0 auto;
    }
  }

  &__copyright {
    padding: 8px 0;
  }
}
