.page-footer {
  font-weight: 400;
  background-color: $default-secondary;

  &__social {
    border-top: 1px solid $border-base;
    border-bottom: 1px solid $border-base;
  }

  &__logo {
    display: inline-block;
    padding: 40px 0 25px;
    text-align: center;
    vertical-align: middle;
  }

  &__social {
    padding: 22px 0 20px;
  }

  &__copyright {
    padding: 10px 0;
  }
}
