.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 4%;
  }

  &--desktop {
    @media (min-width: $desktop-width) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1300px;
    margin: 0 auto;
    padding: 55px 40px;
  }

  &__logo {
    display: inline-block;
    padding: 12px 6%;
    vertical-align: middle;

    &[href] {
      &:hover,
      &:focus {
        opacity: 0.8;
        outline: none;
      }

      &:active {
        opacity: 0.6;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}
