.product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 20px;
  font-weight: 400;
  color: $fontColorSecondary;
  border-bottom: 1px solid $border-base;

  &:first-of-type {
    border-top: 1px solid $border-base;
  }

  &__image-wrapper {
    flex-basis: 50%;
  }

  &__link {
    flex-basis: 100%;
  }
}
