.products {
  padding: 30px 0 15px;
  font-weight: 400;
  color: $fontColorSecondary;

  @media (min-width: $tablet-width) {
    padding: 50px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 30px;
  }

  &__title {
    margin: 0 0 35px;
    padding: 0 20px;
    font-family: $fontOswald;
    font-size: 36px;
    font-weight: inherit;
    line-height: 60px;

    @media (min-width: $tablet-width) {
      margin-bottom: 85px;
      padding: 0 30px;
      font-size: 60px;
    }

    @media (min-width: $desktop-width) {
      max-width: 1300px;
      margin: 0 auto 75px;
      padding: 0 40px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      max-width: 1300px;
      margin: 0 auto;
    }
  }

  &__more {
    position: relative;
    padding: 25px 20px;
    font-weight: 400;
    color: $fontColorSecondary;
    border-bottom: 1px solid $border-base;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 324px;
      width: 100%;
      margin: 70px 4%;
      padding: 40px;
      border: 1px solid $border-base;
    }

    @media (min-width: $desktop-width) {
      max-width: 245px;
      margin: 40px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 40px;
      left: 50%;
      width: 30px;
      height: 2px;
      background-color: $border-base;
      transform: translate(-50%, 0);

      @media (min-width: $tablet-width) {
        top: 84px;
        width: 60px;
      }
    }

    &::after {
      top: 26px;
      left: 50%;
      width: 2px;
      height: 30px;

      @media (min-width: $tablet-width) {
        top: 55px;
        height: 60px;
      }
    }
  }

  &__heading,
  &__small {
    display: block;
    width: 100%;
    text-align: center;
  }

  &__heading {
    margin-bottom: 10px;
    padding-top: 55px;
    font-size: 16px;
    font-weight: inherit;
    line-height: 20px;
    font-family: $fontOswald;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      padding-top: 100px;
      font-size: 20px;
    }
  }

  &__small {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
    color: $fontColor;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: normal;
    }
  }

  &__btn {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;

    @media (min-width: $tablet-width) {
      margin-top: auto;
    }
  }
}
