.product {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 20px;
  font-weight: 400;
  color: $fontColorSecondary;
  border-bottom: 1px solid $border-base;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    max-width: 324px;
    width: 100%;
    margin: 40px 30px;
    padding: 115px 40px 40px;
    background-color: $default-secondary;
    border: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    margin: 40px;
  }

  &:first-of-type {
    border-top: 1px solid $border-base;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  &__image-wrapper {
    flex-basis: 50%;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: -70px;
      flex-basis: auto;
    }
  }

  &__title {
    max-width: 80px;
    margin: 0 0 20px;
  }

  &__link {
    width: 100%;

    @media (min-width: $tablet-width) {
      margin-top: 30px;
    }
  }
}
