.stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 0 16px;

  @media (min-width: $tablet-width) {
    align-items: center;
    margin: 40px 0 45px;
  }

  &__item {
    position: relative;

    &:not(:last-of-type) {
      width: 45%;
      border: 1px solid $border-secondary;
      border-radius: 3px;

      @media (min-width: $tablet-width) {
        width: 23%;
      }
    }

    &:last-of-type {
      width: 100%;
      margin-top: 35px;
      text-align: center;

      @media (min-width: $tablet-width) {
        width: 43%;
        margin-top: 0;
        text-align: right;
      }
    }
  }

  &__value {
    padding: 12px 15px 17px;
    font-size: 24px;
    font-family: $fontOswald;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      padding: 20px 15px;
      font-size: 30px;
      line-height: 1.23;
    }
  }

  &__field {
    position: absolute;
    bottom: -20px;
    left: 50%;
    max-width: 110px;
    margin: 0;
    padding: 3px 15px;
    font-size: 12px;
    color: $fontColor;
    background-color: $default-secondary;
    transform: translate(-50%, 0);

    @media (min-width: $tablet-width) {
      bottom: -9px;
      max-width: 145px;
      padding: 3px 5px;
      font-size: 14px;
      white-space: nowrap;
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      background-color: $default-color;
    }
  }

  &__value,
  &__field {
    line-height: 1;
    text-align: center;

    &--result {
      position: static;
      display: inline;
      padding: 0;
      font-size: 14px;
      font-family: $fontOswald;
      color: $fontColorSecondary;
      text-transform: uppercase;
      line-height: 1.43;

      @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 1;
      }
    }
  }

  &__value {
    &--result {
      @media (min-width: $tablet-width) {
        display: block;
        margin-bottom: 10px;
        text-align: right;
      }
    }
  }

  &__field {
    &--result {
      background-color: transparent;
    }
  }
}
