.supplement-goods {
  position: relative;
  margin-top: 32px;
  padding: 15px 0 40px;
  font-weight: 400;
  color: $fontColorSecondary;
  border-top: 3px solid $success-color;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 32px 0 80px;
    padding-bottom: 0;
  }

  &__title {
    display: inline-block;
    margin: 0;
    padding-right: 25px;
    padding-left: 20px;
    font-family: $fontOswald;
    font-size: 24px;
    font-weight: inherit;
    line-height: 1;
    vertical-align: middle;
    background-color: $default-color;
    transform: translate(-20px, -33px);

    @media (min-width: $tablet-width) {
      padding: 0 35px;
      font-size: 36px;
      transform: translate(0, -40px);
    }

    @media (min-width: $desktop-width) {
      transform: translate(-35px, -40px);
    }
  }

  &__wrapper {
    @media (min-width: $tablet-width) {
      margin-top: 40px;
    }
  }

  &__list {
    @include reset-list();

    @media (min-width: $desktop-width) {
      max-width: 895px;
    }
  }

  &__item {
    padding: 15px 0;
    border-bottom: 1px solid $border-base;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      padding: 26px 35px;
      border-right: 1px solid $border-base;
      border-left: 1px solid $border-base;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 16px 0;
    }

    &:first-of-type {
      border-top: 1px solid $border-base;
    }
  }

  &__link {
    width: 100%;
    margin-top: 15px;
    padding: 10px 40px;
    font-size: 16px;
    line-height: 1.25;

    @media (min-width: $tablet-width) {
      margin-top: 10px;
    }

    @media (min-width: $desktop-width) {
      max-width: 245px;
      margin-top: 0;
    }
  }
}
