// Font
$font: "Arial", sans-serif;
$fontOswald: "Oswald", "Arial", sans-serif;
$fontColor: #444444;
$fontColorSecondary: #111111;

// Main color
$default-color: #ffffff;
$default-secondary: #f2f2f2;
$primary-color: #364ae3;
$primary-secondary: #162592;
$success-color: #68b738;
$success-secondary: #5eaa2f;
$success-third: #63a837;
$success-fourth: #65a93c;
$danger-color: #ff6575;
$danger-secondary: #e84758;
$warning-color: #f5831f;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #666666;
$neutral-secondary: #909399;
$neutral-placeholder: #c5c5c5;

// Border Color
$border-base: #e6e6e6;
$border-light: #ebebeb;
$border-lighter: #ebeef5;

//
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$tablet-width-only: 1299px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
